*{
  box-sizing: border-box;
  margin:0;
  padding:0
}

.card{

  border: 2px solid black;

  border-radius: 2px;
  text-align: center;
  padding:4px;
  margin:5px;

}
.heading{
  font-size: 2rem;
  font-style: italic;
}
.subheading{
  font-size: 1.5rem;

}